body {
    font-family: 'Indie Flower';
    background-color: #fad7e6;
    padding: 10px;
    border: 10px;
    margin: 10px;
    width: 100%;
}

p {
    font-family: 'Indie Flower';
    background-color: #fad7e6;

}

h1 {
    display: inline;
    font-weight: 900;
    font-size: 400%;
    background-color: #fad7e6;

}

h3 {
    background-color: rgb(232, 173, 207);
}

header {
    text-align: center;
    padding: 10px;
}




